@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color: purple" class="display-4">Персональные блоги</h1>
    <h3 style="color: darkcyan">Портал для управления персональными блогами</h3>
    <hr />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
